page-item-create {
  .bg-style {
    background: #dfe4ea;
  }

  .profile-image-wrapper {
    text-align: center;
    margin: 10px 0;

    .profile-image {
      width: 100px;
      height: 100px;
      border-radius: 50%;

      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .profile-image-placeholder {
      display: inline-block;

      background-color: #f6f6f6;
      width: 100px;
      height: 100px;
      border-radius: 50%;

      font-size: 12px;

      ion-icon {
        font-size: 44px;
        margin-bottom: -10px;
        margin-top: 10px;
      }
    }
  }
  .input-cv{
    background-color: #f6f6f6;
    border-radius: 7px;
    height: 40px;
  }
  .textarea-cv {
    background-color: #f6f6f6;
    border-radius: 7px;
    height: 140px;
  }

  .label-cv {
    padding-left: 10px;
    color: darkgray;
  }
  .card-md {
    border-radius: 10px;
    padding-bottom: 40px;
  }
  .btn-cv {
    border-radius: 5px;
  }
  ion-card{
    height: 100%;
  }
  .swiper-pagination-progress .swiper-pagination-progressbar {
    background: #ffa801;
  }
  .card-cv {
    border-radius: 10px;
  }
}
