page-login {
  .bg-style {
    background: #dfe4ea;
  }
  .ion-card {
    border-radius: 10px;
  }
  .login{
    border-radius: 10px;
  }
  .input-login{
    background-color: #f6f6f6;
    border-radius: 7px;
    height: 40px;
    padding-left: 10px;
  }
  .label-login {
    padding-left: 10px;
    color: darkgray;
  }
}
