page-item-detail {
  .bg-style {
    background: #dfe4ea;
  }

  .item-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .profile-card {
    border-radius: 10px;
  }

  .text-profile{
    padding-left: 10px;
  }

}
